body {
  background-color: rgb(160, 231, 191);
  padding: 4px;
  width: auto;
  text-align: center;
}
div{
  width: 90%;
  margin: 0 auto;
  height: 90%;
}
img{
  margin: 0 auto;
  padding: 0 20px;
}
